body {
    margin: 0;
    
    text-align: center;
    background-color: rgb(165, 200, 247);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
}
h1 {
    color: black;
}
h2 {
    color: black;
}
h3 {
    color: black;
}
a {
   color: #11999e;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
   margin: 10px 20px;
   text-decoration: none;
}
a:hover {
    color: #EAF6F6;
}

.top-container {
    position: relative;
    padding-top: 10%;
    background-color: rgb(89, 152, 234);
    margin-top: 0%;
}
.name {
    position: relative;
}

.mountain {
    width: 30%;
    height: 30%;
}
.cloud-1 {
    width: 20%;
    height: 10%;
    position: absolute;
    left: 15%;
}

.cloud-2 {
    width: 20%;
    height: 10%;
    position: absolute;
    right: 10%;
    top: 18%;
}



.profile-container {
    position: relative;
    margin: auto 30% auto 30%;
}
.profile-pic {
    border-radius: 50%;
    width: 50%;
    height: 50%;
}

.skill-container {
    text-align: left;
    margin: 10% 20% 10% 20%;
}
.Title {
    text-align: center;
}

.coding {
    margin-right: 10%;
    float: left;
    width: 8em;
    height: 8em;
}
.games {
    float: right;
    width: 8em;
    height: 8em;
}
.skill-1 {
    margin: auto auto 20% auto;
}

.hr {
    
    border-style: dotted;
    border-top: 0px;
    border-width: 10px;
    margin: 100px 46% 100px 46%; 
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.bottom { 
    font-size: 20px;
    position: relative;
    margin: 60px 0px 0px 0px;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color:  rgb(54, 37, 60);
    
}
.name-2 {
    color: rgb(165, 200, 247);
    padding: 30px 0;
}
